<!DOCTYPE html>
<html>
<head>

<title>AI Medical Report Generator</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

</head>

<body>

<div class="container mt-5">

<h2 class="text-center">AI Medical Report Generator</h2>

<form action="/predict" method="post">

<h4>Patient Details</h4>

<input name="name" class="form-control" placeholder="name"><br>
<input name="age" class="form-control" placeholder="Age"><br>
<input name="gender" class="form-control" placeholder="gender (M or F)"><br>

<h4>Symptoms</h4>

<input name="fever" class="form-control" placeholder="Fever (0 or 1)"><br>
<input name="cough" class="form-control" placeholder="Cough (0 or 1)"><br>
<input name="chest" class="form-control" placeholder="Chest Pain (0 or 1)"><br>
<input name="headache" class="form-control" placeholder="Headache (0 or 1)"><br>

<h4>Vitals</h4>

<input name="bp" class="form-control" placeholder="Blood Pressure"><br>
<input name="temp" class="form-control" placeholder="Temperature"><br>
<input name="oxygen" class="form-control" placeholder="Oxygen Saturation"><br>

<h4>Lab Results</h4>

<input name="sugar" class="form-control" placeholder="Blood Sugar"><br>
<input name="hb" class="form-control" placeholder="Hemoglobin"><br>
<input name="wbc" class="form-control" placeholder="WBC Count"><br>

<button class="btn btn-primary mt-3">Generate Report</button>

</form>

</div>

</body>
</html>
